<div class="wrapper">
  <h2 *ngIf="_matrixService.xWin && _matrixService.gameWinner">X Win!!!</h2>
  <h2 *ngIf="_matrixService.oWin && _matrixService.gameWinner">0 Win!!!</h2>
  <h2 *ngIf="_matrixService.deadHeat">Dead Heat!!!</h2>
  <div *ngFor="let line of matrix">
    <app-square *ngFor="let elem of line" [square]="elem"></app-square>
  </div>
</div>
<div class="btn-group">
  <div class="btn-checkbox">
    <div class="btn-field">
    <label for="size">Field size:</label>
    <input type="number" min = "3" max = "10" id="size" [(ngModel)]="_matrixService.size">
  </div>
  <div class="btn-winLine">
    <label for="winLine">Winner line:</label>
    <input type="number" min="3" max="10" id="winLine" [(ngModel)]="_matrixService.winLine">
  </div>
    </div>
  <button (click)="startGame(_matrixService.size)" style="padding: 5px">start</button>
</div>


